.canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}